extends layout

block content
    h1 Login
    p Please Login using the form below
    form(action='/users/login',method='post')
        .form-group
            label UserName
            input.form-control(name='username',type='text',placeholder='Enter UserName')
        .form-group
            label Password
            input.form-control(name='password',type='text',placeholder='Enter Password')
        input.btn.btn-default(name='submit',value='Login',type='submit')