extends layout

block content
    h1 Register
    p Please Register using the form below
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(action='/users/register',method='post',enctype='multipart/form-data')
        .form-group
            label Name
            input.form-control(name='name',type='text',placeholder='Enter Name')
        .form-group
            label Username
            input.form-control(name='username',type='text',placeholder='Enter Emusername')
        .form-group
            label Email
            input.form-control(name='email',type='text',placeholder='Enter Email')    
        .form-group
            label Password
            input.form-control(name='password',type='password',placeholder='Enter Password')
        .form-group
            label Confirm-Password
            input.form-control(name='password2',type='password',placeholder='re-Enter Password')    
        .form-group
            label profile Image
            input.form-control(name='profileimage',type='file')
        input.btn.btn-default(name='submit',value='Register',type='submit')                
